body{
    margin-top: 5%;
}

.container {
    font-family: arial, helvetica, sans-serif;
    font-size: 1em;
    margin: 0 auto;
    width: 600px;
  border-radius: 10px;
    background-color: rgb(84, 80, 80);
    color: rgb(193, 177, 177);
}

span {
    cursor: pointer;
  
}
.track-title{
  height: 70px;
  width: 100%;  
  

}
div+p{
    margin-top: 0px;
}
.track-title:hover{
  
    

}

audio{
    width: 400px;
   
   
}
.testp{
    display: inline-flex;
}


audio::-webkit-media-controls-mute-button{
    background-color: gray;
    }
audio::-webkit-media-controls-play-button
{
    background-color: gray;
    }
audio::-webkit-media-controls-timeline-container{
    background-color: gray;
    }
audio::-webkit-media-controls-current-time-display{
    background-color: gray;
    }

    audio::-webkit-media-controls-timeline{
        background-color: gray;
        }


    